body{
    background-color: rgb(236, 233, 233);
}

.juego{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px px 0px;

}
.caja1{
        height: 20px;
        width: 35px;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        top: 50px;
        background-color: aqua;
     }

}