body{
    background-color: bisque;
}

#texto{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
   

}
.caja3{
    text-shadow: 0px 1px rgb(0, 0, 0, 0.2);
    text-align: center;
    display: inline-block;
    background-color: green;
    padding: 10px 20px;
    white-space: nowrap;
}